<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>login</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{/css/index.css}">
	</head>
	<body>
		<div class="group-name-fake">
		    <span class="h1">Login</span>
		</div>
		<form target="_top" th:action="@{/login}">
			  <div class="mb-3 mt-3">
				<label for="name" class="form-label">Username:</label>
				<input type="text" class="form-control" id="name" placeholder="Enter username" name="username">
			  </div>
			  <div class="mb-3">
				<label for="pwd" class="form-label">Password:</label>
				<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
			  </div>
			  <div class="form-check mb-3">
				<label class="form-check-label">
				  <input class="form-check-input" type="checkbox" name="remember"> Remember me
				</label>
			  </div>
			<div class="text-danger h3" th:text="${msg}"></div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
	<script>

	</script>
	</body>
</html>